<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cosmetic"
        tools:targetApi="31">
        <activity
            android:name=".detailOrder"
            android:exported="false" />
        <activity
            android:name=".historyOrder"
            android:exported="false" />
        <activity
            android:name=".editProfile"
            android:exported="false" />
        <activity
            android:name=".Change_pass"
            android:exported="false" />
        <activity
            android:name=".Payment"
            android:exported="false" />
        <activity
            android:name=".nav_bottom"
            android:exported="false" />
        <activity
            android:name=".insert_category"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.Cosmetic.NoActionBar" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".cart_design"
            android:exported="false" />
        <activity
            android:name=".detail"
            android:exported="false" />
        <activity
            android:name=".insertsp"
            android:exported="false" />
        <activity
            android:name=".product_design"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Welcome"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>